{
  "parser": "babel-eslint",

  "plugins": [
    "react"
  ],

  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended"
  ],

  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "settings": {
    "react": {
      "version": "16.13.1"
    }
  },

  "env": {
    "browser": true,
    "node": true
  },

  "globals": {
    "document": false
  },

	"rules": {
		"semi": [2, "never"],
    "react/jsx-indent": [2, 2],
    "react/jsx-indent-props": [2, 2],
    "arrow-parens": "off",
    "comma-dangle": "off",
    "function-paren-newline": "off",
    "max-len": [1, 120],
    "no-param-reassign": "off",
    "react/require-default-props": "off"
	}
}

